@tailwind base;
@tailwind components;
@tailwind utilities;

.EDAgenda > .Barrnav > .Titre {
    @apply text-2xl text-center border-b-2 mt-2;
}

.DateMenuSelector > .Title {
    @apply text-xl;
}

.DateMenuSelector > .Contents > .SubMatiereDate {
    margin-left: 0.5%;
}

#Today {
    @apply border-2 border-gray-400;
}

.DateMenu > .nav {
    @apply text-center cursor-default;
}

.DateMenu > .nav > .Title {
    @apply text-2xl underline;
}

.DateMenu > .nav > .Back {
    @apply text-lg block;
}

.DateMenu > .nav > .Back:hover {
    @apply text-red-500 underline;
}

.DateMenu > .Displayer > .MatiereHomework {
    @apply bg-gray-50 rounded-md shadow-md m-4;
}

.DateMenu > .Displayer > .MatiereHomework > .Matiere {
    @apply text-xl underline text-center;
}

.DateMenu > .Displayer > .MatiereHomework > .Prof {
    right: 0px;
    margin-right: 1%;
    @apply text-lg relative text-right;
}

.DateMenu > .Displayer > .MatiereHomework > .Content {
    padding: 0% 2%;
}

.DateMenu > .Displayer > .MatiereHomework > .Content > .ContenuDS {
    padding: 1% 0%;
}

.DateMenu > .Displayer > .MatiereHomework > .Content > .ContenuDS > .content {
    @apply border-l-4 border-gray-300 pl-2;
}

.DateMenu > .Displayer > .MatiereHomework > .Content > .Files {
    padding: 1% 0%;
}

.DateMenu > .Displayer > .MatiereHomework > .Content > .Files > .content {
    @apply border-l-4 border-gray-300 pl-2 cursor-pointer;
}

.DateMenu
    > .Displayer
    > .MatiereHomework
    > .Content
    > .Files
    > .content
    > .filename:hover {
    @apply underline text-blue-500;
}
