@tailwind base;
@tailwind components;
@tailwind utilities;

.EDFiles > .Barrnav > .Titre {
    @apply text-2xl cursor-default;
}

.EDFiles > .Barrnav > .Reload:hover {
    @apply text-red-500 underline;
}

.EDFiles > .AllFiles > .NoFile {
    @apply text-2xl text-red-800 text-center;
}

.DatesList {
    max-height: 15%;
    @apply overflow-y-auto overflow-x-hidden;
}

.FileBarre > .FileName {
    margin-left: 1%;
    @apply inline-block flex-none;
}
.FileBarre > .Unavailable {
    @apply text-gray-600;
}

.FileBarre > .OpenButton,
.Unavailable {
    margin-right: 1%;
    right: 0%;
    @apply inline-block flex-none float-right text-right absolute;
}

.FileBarre > .DeleteButton {
    margin-right: 10%;
    right: 0%;
    @apply inline-block flex-none float-right text-right absolute;
}
