@tailwind base;
@tailwind components;
@tailwind utilities;

.MenuMain {
    @apply overflow-hidden relative;
}

.MenuDisplayer {
    width: 80%;
    left: 20%;
    height: 100%;
    @apply relative overflow-hidden;
}